@model MVCProject.Models.Provider

<div>
    <h4>Provider</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProviderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProviderName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProviderTin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProviderTin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProviderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
