@model IEnumerable<MVCProject.Models.Facility>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FacilityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FacilityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FacilityID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FacilityID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FacilityID })
        </td>
    </tr>
}

</table>
